body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    background-color: #D3DEDC
    
    
}

header {
    background-color: #D3DEDC;
    padding: 30px;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    
}

.select{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.choose {
    background-color: #D3DEDC;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.outcomes {
    flex: 2;
    background-color: #92A9BD;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
}

.outcomes .result{
    width: 30vw;
    height: 20vh;
    border: black 2px solid;
    border-radius: 3%;
    background-color: #FFEFEF;
    text-align: center;
}

footer {
    background-color: #7C99AC;
}

button {
    background-color: grey;
    border-radius: 5%;
    color: white;
    padding: 30px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

button.boy {
    background-color: cornflowerblue;
    transition: 0.1;
}

button.girl {
    background-color: pink;
}

button.boy:hover {
    background-color: royalblue;
}

button.girl:hover {
    background-color: rgb(238, 226, 240);
}

button:hover {
    background-color: darkgray;
}

.selected {
    border: 4px goldenrod solid;
    opacity: 1;
    
}